############################################################################
# ============================= CUSTOM ALIASES =========================== #
############################################################################
# Este arquivo deve estar localizado em ~/.aliases
# Aliases de cunho geral, alguns podem necessitar de pacotes /
# adicionais que não vem pré instalados no sistema.
alias "aliases"='$EDITOR ~/.aliases'                      # Editar este arquivo.
alias trace='traceroute'                                  # Traceroute
alias ips='ip -c -br a'                                   # Exibe ips do host de forma organizada.
alias ..='cd ..'                                          # Atalho para voltar uma pasta.
alias nmap='sudo nmap -sS'                                # nmap standard alias.
alias fping='fping -a -q -g'                              # Realiza ping para um bloco de ips.
alias end='cd ~'                                          # Volta para a raiz do usuário Cisco Like.
alias ping='ping -O'                                      # Modifica o ping para exibir as percas.
alias shut='shutdown -h now'                              # Desliga o pc.
alias speedtest='speedtest -s 55720'                      # Speed test Araujosat server.
alias neofetch='fastfetch'                                # Neofetch descontinuado.
alias ls='eza --icons=always'				  # Icons on ls
# alias ssh='kitty +kitten ssh'                             # Apenas para o terminal kitty

############################################################################
# ================================ YAY =================================== #
############################################################################
# Utilitario que ajudar a manipular o aur.
alias upd='yay -Syyu && flatpak update'                   # Atualiza o sitema e flatpaks(recomendado).
alias yu='yay -Syyu'                                      # Atualiza o sistema
alias yi='yay -S'                                         # Instala pacote.
alias yr='yay -Rns'                                       # Remove pacote.
alias yrr='yay -Rns $(pacman -Qtdq)'                      # Limpa pacotes orfãos.
alias yc='yay -Scc'                                       # Remove pacotes em cache.
alias yro='yay -Rcns $(yay -Qdtq)'                        # Remove pacotes orfãos com suas dependências

############################################################################
# ============================= DISTRO BOX =============================== #
############################################################################
# Depende do pacote distrobox instalado no sistema.
alias ubuntu='distrobox-enter ubuntu'                    # distrobox enter ubuntu
alias arch='distrobox-enter arch'                        # distrobox enter arch

############################################################################
# ============================= VAGRANT ================================== #
############################################################################
# Depende do pacote vagrant instalado no sistema.
alias vd='vagrant destroy'                                # Destroi as VMs.
alias vu='vagrant up'                                     # Sobe as VMs.
alias vs='vagrant up &&  vagrant ssh'                     # SSH nas VMs.
alias vh='vagrant halt'                                   # Desliga as VMs.


############################################################################
# ============================= DOCKER  ================================== #
############################################################################
# Depende do docker obviamente.
alias dc='docker compose'                                                             # Atalho para o docker compose.
alias 'docker volume rm all'='docker volume rm $(docker volume ls -q)'                # Remove todos os volumes.
alias 'docker rmi all'='docker image rm $(docker images -q)'                          # Remove todas as imagens.
alias 'db:up'='docker compose -f ~/Documentos/Docker/banco/docker-compose.yml up -d'  # Liga o banco de dados.
alias 'db:down'='docker compose -f ~/Documentos/Docker/banco/docker-compose.yml down' # Desliga o banco de dados.

############################################################################
# ========================= JELLYFIN DOCKER ============================== #
############################################################################
alias 'jelly-up'='docker compose -f /home/matheus/Documentos/jellyfin/docker-compose.yml up -d'
alias 'jelly-down'='docker compose -f /home/matheus/Documentos/jellyfin/docker-compose.yml down'
alias 'jelly-reload'='jelly-down && jelly-up'
